{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MMUST SMART KURA{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Voting/style.css' %}">
</head>
<body>
    <header>
        <div style="max-width: 1000px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <h1>MMUST SMART KURA</h1>
            <nav>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'results' %}">Results</a>

                {% if user.is_authenticated %}
                <a href="{% url 'vote' %}">Vote</a>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %} 
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>
            &copy; {{ year|default:"2026" }} Masinde Muliro University
        </p>
    </footer>
</body>
</html>