{% extends 'Voting/base.html' %}
{% block tittle%}Home-MMUST SMART KURA{% end block %}
{% block content %}
    <h2>Welcome to MMUST SMART KURA</h2>
    <p> Cast your vote securely and view results in real-time</p>
    <h3>All Candidates</h3>
        {% for position in positions %}
        <h4>{{ position.title }} ({{position.school.name}})</h4>    
    <ul>
        {% for candidate in position.candidate_set.all %}
        <li>{{ candidate.user.username }}</li>
        {% empty %}
        <li>No candidates available for this position.</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'vote' %}">Cast your vote</a></p>
        <p><a href="{% url 'results' %}">View results</a></p>
    {% endblock %}